#projects {
    padding: 2em;
    text-align: center;
  }
  
  .project {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2em 0;
    background-color: #112d4e;
    padding: 1em;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .project-image img {
    max-width: 100%;
    border-radius: 8px;
  }
  
  .project-details {
    margin-top: 1em;
  }
  
  .project-details h3 {
    margin-bottom: 0.5em;
  }
  
  .project-button {
    background-color: #3f72af;
    color: #f9f7f7;
    border: none;
    padding: 0.5em 1em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .project-button:hover {
    background-color: #112d4e;
  }
  